<!-- <div style="width: 100%; position: absolute; display: block; background-color: #212121; height: 200px; margin: 0px; padding: 0px; top: -200px; "></div> -->
<nav class="d-flex align-items-center p-1 shadow-sm" style="z-index: 2;">
    <div class="d-flex flex-row-reverse w-100">
        <!-- Movil -->
        <div class="w-25"></div>
        <div class="mx-auto d-block d-md-none p-2" style="width: 200px">
            <img src="../../../assets/img/TrueMEDObscuro.jpeg" class="img-fluid" alt="">
        </div>
        <button (click)="menu()" class="btn p-0 icon d-block d-md-none w-25 icon-white"><i class="fas fa-bars"></i></button>
    </div>
</nav>