<nav class="d-flex align-items-center p-1 shadow-sm" style="z-index: 2;">
    <div class="d-flex flex-row-reverse w-100">
        <!-- Movil -->
        <button class="btn w-25" *ngIf="mostrarEncuesta() && isConnected else w25" (click)="iniciarEncuesta()">
            <i class="fas fa-bell fa-1x position-relative d-block d-md-none float-start">
                <span
                    class="position-absolute top-0 start-15 translate-middle p-2 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                </span>
            </i>
            <i class="fas fa-bell fa-1x position-relative d-none d-md-block float-start">
                <span
                    class="position-absolute top-0 start-0 translate-middle p-2 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                </span>
            </i>
        </button>
        <ng-template #w25 class="w-25"></ng-template>
        <div class="mx-auto d-block d-md-none p-2 w-50">
            <img src="../../../assets/img/TrueMEDObscuro.jpeg" class="img-fluid" alt="">
        </div>
        <button (click)="menu()" class="btn p-0 icon d-block d-md-none w-25 icon-white"><i
                class="fas fa-bars"></i></button>
    </div>
</nav>