<div *ngIf="movil()" id="sidebarcontainer" (click)="showBar()" class="sidebarcontainer">
</div>
<nav class="main-menu" id="mySidebar">
    <ul class="nav nav-pills flex-column mb-auto">
        <li 
            (click)="ruta ( '' )"
            [ngClass]="{'bg-white text-secondary':url == ''}"
            routerLinkActive="bg-white text-secondary"
            [routerLinkActiveOptions]="{ exact:true }"
            class="nav-item my-2">
            <i class="fas fa-home fa-2x"></i>
            <span class="nav-text"> Inicio </span>
        </li>
        <li (click)="ruta ( 'inventario')"
            [ngClass]="{'bg-white text-secondary':url == '/inventario'}"
            class="nav-item">
            <i class="fa fa-laptop-medical fa-2x"></i>
            <span class="nav-text"> Realizar Inventario </span>
        </li>
        <li (click)="ruta ( 'catalogo' )"
            [ngClass]="{'bg-white text-secondary':url == '/catalogo'}"
            class="nav-item">
            <i class="fa fa-notes-medical fa-2x"></i>
            <span class="nav-text"> Catálogo de Productos </span>
        </li>
        <hr>
        <div class="text-center my-2 text-white">
            <span class="nav-text"> Almacén </span>
        </div>
        <li (click)="ruta ( 'xRecibir' )"
            *ngIf="isConnected"
            [ngClass]="{'bg-white text-secondary': url == '/xRecibir'}"
            class="nav-item">
            <i class="fa fa-truck-loading fa-2x"></i>
            <span class="nav-text"> Material x Recibir </span>
        </li>
        <li (click)="ruta ( 'movimientos' )"
            [ngClass]="{'bg-white text-secondary':url == '/movimientos'}"
            class="nav-item">
            <i class="fa fa-cubes fa-2x"></i>
            <span class="nav-text"> Entrada y Salidas </span>
        </li>
        <li (click)="ruta ( 'almacenes' )"
            [ngClass]="{'bg-white text-secondary':url == '/almacenes'}"
            class="nav-item">
            <i class="fa fa-warehouse fa-2x"></i>
            <span class="nav-text"> Catálogo de Almacenes </span>
        </li>
        <hr>
        <div class="text-center my-2 text-white font-weight">
            <span class="nav-text"> ODC </span>
        </div>
        <li (click)="ruta ( 'xAtender' )"
            [ngClass]="{'bg-white text-secondary':url == '/xAtender'}"
            class="nav-item">
            <i class="fa fa-calendar-alt fa-2x"></i>
            <span class="nav-text"> Solicitudes por Atender </span>
        </li>
        <!-- <li class="nav-item">
            <i class="fa fa-calendar-check fa-2x"></i>
            <span class="nav-text"> Solicitudes Atendidas </span>
        </li>
        <li class="nav-item">
            <i class="fa fa-calendar-times fa-2x"></i>
            <span class="nav-text"> Solicitudes Canceladas </span>
        </li> -->
    </ul>
    <ul class="logout" *ngIf="isAuth">
        <li class="nav-item" (click)="logout()">
            <i class="fa fa-power-off fa-2x"></i>
            <span class="nav-text">
                Cerrar sesión
            </span>
        </li>
    </ul>
</nav>
<app-navbar (showBar)="showBar()"></app-navbar>