<nav class="main-menu" id="mySidebar">
    <ul class="nav nav-pills flex-column mb-auto">
        <li 
            routerLink=""
            routerLinkActive="bg-white text-secondary"
            [routerLinkActiveOptions]="{ exact:true }"
            class="nav-item my-2">
            <i class="fas fa-home fa-2x"></i>
            <span class="nav-text"> Inicio </span>
        </li>
        <li routerLink="inventario"
            routerLinkActive="bg-white text-secondary"
            class="nav-item">
            <i class="fa fa-laptop-medical fa-2x"></i>
            <span class="nav-text"> Inventario </span>
        </li>
        <li routerLink="catalogo"
            routerLinkActive="bg-white text-secondary"
            class="nav-item">
            <i class="fa fa-notes-medical fa-2x"></i>
            <span class="nav-text"> Productos </span>
        </li>
    </ul>
</nav>