<div class="col">
    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <button class="nav-link text-info" (click)="seleccionarTipo('qr')">QR</button>
            </li>
            <li class="nav-item">
              <button class="nav-link text-primary" (click)="seleccionarTipo('barcode')">Código de barras</button>
            </li>
          </ul>
        </div>
        <div class="card-body" *ngIf="tipoEscaner == ''">
            <h3 class="card-title">¿Cómo quieres registrar tus productos?</h3>
            <h5 class="card-text">
                Selecciona el tipo de código 
                <button class="btn text-info p-0 m-0" (click)="seleccionarTipo('qr')">
                    <h5>QR</h5>
                </button> 
                ó 
                <button class="btn text-primary p-0 m-0" (click)="seleccionarTipo('barcode')">
                    <h5>Código de barras</h5>
                </button>.
            </h5>
        </div>

        <div class="card-body bg-info" *ngIf="tipoEscaner == 'qr'">
            <div class="row d-flex justify-content-center">
                <div class="col-6">
                    <p>Escanea el código</p>
                    <form (ngSubmit)="registrar()" autocomplete="off">
                        <input type="text" 
                            name="qr" 
                            class="form-control"
                            [(ngModel)]="qr"
                            placeholder="CÓDIGO/LOTE/CANTIDAD"
                            #txtQr>
                        <ng-template [ngIf]="movil() && isBounes" class="mt-3">
                            <div class="row">
                                <label for="camera">Utilizar cámara</label>
                                <button type="button" class="btn btn-outline-light fas fa-camera" (click)="mostrarModalCamara()"></button>
                            </div>
                        </ng-template>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body bg-secondary text-white" *ngIf="tipoEscaner == 'barcode'">
            <form (ngSubmit)="registrar()" autocomplete="off">
                <div class="row d-flex justify-content-center">
                    <div class="col-4">
                        <ng-template [ngIf]="barcodePaso == 1">
                            <p>Número de código</p>
                            <input type="text" 
                                name="barcode" 
                                class="form-control"
                                [(ngModel)]="codigo"
                                #txtCodigo>
                            <ng-template [ngIf]="movil() && isBounes" class="mt-3">
                                <div class="row">
                                    <label for="camera">Utilizar cámara</label>
                                    <button type="button" class="btn btn-outline-light fas fa-camera" (click)="mostrarModalCamara()"></button>
                                </div>
                            </ng-template>
                        </ng-template>                        
                        <ng-template [ngIf]="barcodePaso == 2">
                            <p>Lote</p>
                            <input type="text" 
                                name="lote" 
                                class="form-control"
                                [(ngModel)]="lote"
                                #txtLote>
                            <ng-template [ngIf]="movil() && isBounes" class="mt-3">
                                <div class="row">
                                    <label for="camera">Utilizar cámara</label>
                                    <button type="button" class="btn btn-outline-light fas fa-camera" (click)="mostrarModalCamara()"></button>
                                </div>
                            </ng-template>
                        </ng-template>
                        <ng-template [ngIf]="barcodePaso == 3">
                            <p>Cantidad</p>
                            <input type="number" 
                                name="cantidad" 
                                class="form-control"
                                [(ngModel)]="cantidad"
                                #txtCantidad>
                        </ng-template>
                    </div>
                </div>
            </form>
            <button *ngIf="barcodePaso > 1" 
                    class="btn btn-sm btn-danger float-end"
                    (click)="resetearVariables()"
                    type="button">
                Cancelar
            </button>
        </div>
      </div>
</div>

<div class="modal" id="camaraModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="camaraModalLabel">Camara</h5>
                <button type="button" id="closeCamaraModal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid m-0 p-0">
                    <div class="d-flex flex-column justify-content-center">
                        <app-escaner-movil [escanerActivo]="escanerActivo" (codigoEscaneado)="codigoEscaneado($event)" *ngIf="movil()"></app-escaner-movil>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>